:root {
   --color-galactic-blue: 252, 66%, 62%;
   --color-summer-yellow: 28, 89%, 67%;
   --color-pink: 0, 78%, 79%;
   --color-light-red: 7, 77%, 66%;
   --color-cyan: 172, 46%, 57%;
   --color-dark-purple: 314, 45%, 23%;
   --color-black: 0, 0%, 1%;
   --color-medium-brown: 30, 5%, 45%;
   --color-light-cream: 28, 100%, 97%;
   --color-white: 0, 0%, 100%;
}